.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-category a {
  color: white;
  font-size: 25px;
  transition: 1s;
}

.card-category a:hover {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.delete {
  position: absolute;
  top: 5px;
  right: 12px;
}

.edit {
  position: absolute;
  top: 5px;
  right: 40px;
}

.create-new a {
  color: white;
  transition: .5s;
}

.create-new a:hover {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
